@using DojoSurvey.Models
@model Survey
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="box">
            <h2 id="dojo">Dojo Form</h2>
            <div class="box2">
                <div class="labels">
                    <p>Name:</p>
                    <p>Location:</p>
                    <p>Favorite Language:</p>
                    <p>Comment:</p>
                </div>
                <div class="forms">
                    <p>@Model.Name</p>
                    <p>@Model.Location</p>
                    <p>@Model.Language</p>
                    <p>@Model.Message </p>
                </div>
            </div>
            <div class="text">
                <a href="/"><button name='back'>return</button></a>
                    
                </form>
            </div>
        </div>
    </div>

</body>

</html>