
@using DojoSurvey.Models
@model Survey
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>

<body>




.<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Dojo Form!</h1>
        <p class="lead">You have successfully added validations to your survey</p>
        <hr class="my-2">
        <p>Well done. You have added the dependencies neccessry to refractor your code. </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Return to Survey</a>
        </p>
        <div class="">
            <p>Name: @Model.Name</p>
            <p>Location: @Model.Location</p>
            <p>Favorite Language: @Model.Language</p>
            <p>Comment: @Model.Message </p>
        </div>
    </div>
</div>

</body>

</html>